.container
  = render partial: "shared/header_show"
  #account-page.account-page
    .account-page__header
      %h2
        = current_user.name
        さんの応募企業一覧
    .account-page__inner
      %ul.more_list
      - current_user.applies.each do |apply|
        %li
          = apply.offer.company.name
        %p
          = apply.offer.title
        %p
          = apply.offer.what
