.container
  = render partial: "shared/header"
  .registrations-body
    .main-body
      %h1.title 投稿する
      .company-form
        = form_for @offer do |f|
          .company-form__field
            .company-form__field--left
              = f.label :title, "タイトル", class: "form-label"
            .company-form__field--right
              = f.text_field :title, placeholder: "タイトルを入力してください", autocomplete: "off", class: "form-input"
          .company-form__field
            .company-form__field--left
              = f.label :image, "メイン画像", class: "form-label"
            .company-form__field--right
              = f.file_field :image, class: "form-logo"
          .company-form__field
            .submit-action
              = f.submit "投稿する", class: "btn"
