.container
  = render partial: "shared/header"
  .projects-show
    .projects-show--header
      -# .projects-show--header__job-type
        %span.icon-job-type
          -# = @offer.job_type
      .projects-show--header__title
        %h1
          = @offer.title
      %h2.projects-show--header__company-name
        %span.company-logo
          -# = image_tag @product.company.logo
        %p.company-name
          = @offer.company.name
      .projects-show--header__image
        = image_tag @offer.image
    .projects-show--body
      .projects-show--body--main
        .descriptions
          %section.projects-show-main-section
            %header
              %h3 なにをやっているのか
              = @offer.what
            .section-body
              %ul.section-images
        .descriptions
          %section.projects-show-main-section
            %header
              %h3 なぜやるのか
              = @offer.why
            .section-body
              %ul.section-images
        .descriptions
          %section.projects-show-main-section
            %header
              %h3 どうやっているのか
              = @offer.how
      .projects-show--body--side
        .projects-show--body--side__action-btn
          .entry-btn
            %span= link_to '話を聞きに行きたい', new_offer_apply_path(params[:id])
          .bookmark-btn
            %span あとで見る
        .projects-show--body--side__map
          %h4 住所
          %p.address
            = @offer.company.address
    .container2
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
            = comment.text
      - if @replies
        - @replies.each do |reply|
          %p
            %strong
              = reply.company.name
            = reply.text
      - if current_user
        = form_tag("/offers/#{@offer_id}/comments", method: :post) do
          %textarea{:cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
          %input{:type => "submit", :value => "SENT"}/
      - if current_company
        = form_tag("/offers/#{@offer_id}/replies", method: :post) do
          %textarea{:cols => "30", :name => "text", :placeholder => "コメントする", :rows => "2"}
          %input{:type => "submit", :value => "SENT"}/
